<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>guoguo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>jingdushiguang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>mianfeixiaoshuo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>mingxiaoxi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>pandaBook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>staticread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>waiguomingzhu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>xijuan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09005E751BA9AE72006CE2EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09117E161AD5769300932491</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>091701AC18FD7C9D002B2754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>091FFCD419697FDF001E8C71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0928C9F71A1A3FF400326C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>092C3C98196831AD00C56DDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0948CA551AB48C43003F7EAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09583E931A39D0720092305F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0964D5EC1ADB70AA00A956AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0964DB181ADBD27E00A956AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0964DD171ADFCC7700A956AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>097312631B520A8700C9479E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0974111F1AF21151002BAFCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09856A3D195B0B830028BCDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>098BE8401A8B25400003D9AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>098CE7521A49227400159C42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>099316541A42F59D00822645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09948B1C18F91823003B34A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A1B3E318F6C23E00FF3B48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A1B4D218F6CCBA00FF3B48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A1B5B918F6CD8900FF3B48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A1B6B218F6CD9F00FF3B48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09BC76281907FA650087F7D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09CFCA201A29B4E7009C20A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09E9BB811AFDA41F00CEB2DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09EB6B3F19FA9B090088BF13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09EE329C1AAAF3220030724A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09EF2D0919E286F1009E302D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09F42D461AA00E3300F0E339</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09FF4F6A18FA5A7E00131192</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09FFC6431A14F04600AFC899</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26D9C3F7157CA68000756CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD24567E199867EB00F7ECB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
